html {
    position: relative;
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    margin-bottom: 70px;
    /* Height of footer*/
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #ccc;
}

.hidden {
    display: none;
}